<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h3>Créer un compte</h3>
    <br>
    <form 
      [formGroup]="formGroup" 
      (ngSubmit)="onSubmit()">
      <app-user-sign-detail 
        [formGroup]="formGroup"
        [userSignType]="userSignType"
        [photoURL]="photoURL"
        (selectPhotoEvent)="uploadPhoto($event)">
      </app-user-sign-detail>
      <br>
      <button 
        class="btn btn-success"
        type="submit"
        [disabled]="formGroup.invalid || photoUploading">
        Créer          
      </button>
    </form>
    <br>
    <p class="text-danger">{{errorMessage}}</p>
  </div>
</div>