<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Livre</h2>
      <form 
        [formGroup]="formGroup" 
        (ngSubmit)="onSave()">
        <div class="form-group">
          <label for="title">Titre</label>
          <input 
            type="text" 
            id="title"
            class="form-control"
            formControlName="title"
          >
        </div>
        <div class="form-group">
          <label for="author">Auteur</label>
          <input 
            type="text" 
            id="author"
            class="form-control" 
            formControlName="author"
          >
        </div>
        <div class="form-group">
          <label for="synopsis">Synopsis</label>
          <textarea 
            id="synopsis"
            class="form-control"
            formControlName="synopsis">
          </textarea>
        </div>
        <div class="form-group">
          <label>Photo</label>
          <div>
            <label class="btn btn-primary">
              Choisir 
              <input
                type="file" 
                id="photoURL" 
                accept="image/*"
                style="display: none;"
                (change)="onSelectPhoto($event)"
                >
            </label>
            <input 
              type="text"
              class="btn btn-default"      
              placeholder="Aucun fichier choisi"
              style="text-align: left; width: 300px;"
              [value]="(photo) ? photo.name : null"
              disabled
            >
          </div>    
          <p 
            class="text-success" 
            *ngIf="false && photoUploaded">
            Photo chargée
          </p>
        </div>
        <div 
          *ngIf="photoURL"
          style="margin-bottom: 15px">
          <img 
            style="max-width: 300px"
            [src]="photoURL"
          >
        </div>
        <br>
        <button 
          type="submit"
          class="btn btn-success" 
          [disabled]="formGroup.invalid || photoUploading">
          Enregistrer
        </button>
      </form>
    </div>
  </div>