<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h3>Se connecter</h3>
    <br>
    <form 
      [formGroup]="formGroup" 
      (ngSubmit)="onSubmit()">
      <app-user-sign-detail 
        [formGroup]="formGroup"
        [userSignType]="userSignType"
        [photoURL]="photoURL">
      </app-user-sign-detail>
      <button 
        class="btn btn-success"
        type="submit"
        [disabled]="formGroup.invalid">
        Connexion
      </button>
    </form>
    <br>
    <p class="text-danger">{{errorMessage}}</p>
  </div>
</div>