<nav 
  class="navbar navbar-default">
  <div class="container-fluid">
    <ul 
      class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="books">Livres</a>
      </li>
    </ul>
    <ul 
      class="nav navbar-nav navbar-right" 
      *ngIf="! user.isAuthenticated">
      <li routerLinkActive="active">
        <a routerLink="user/sign/up">Créer un compte</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="user/sign/in">Se connecter</a>
      </li>
    </ul>
    <ul 
      class="nav navbar-nav navbar-right" 
      *ngIf="user.isAuthenticated">
      <li routerLinkActive="active">
        <a routerLink="user/sign/edit">{{user.email}}</a>
      </li>
      <li>
        <a (click)="onSignOut()"
          style="cursor: pointer">
          Déconnexion
        </a>
      </li>
    </ul>
  </div>
</nav>