<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Créer un compte</h2>
      <form 
        [formGroup]="formGroup" 
        (ngSubmit)="onSubmit('Up')">
        <div class="form-group">
          <label for="displayName">Nom</label>
          <input 
            type="text"
            id="displayName"
            class="form-control"
            formControlName="displayName"
          >
        </div>
        <div class="form-group">
          <label for="email">Adresse mail</label>
          <input 
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
          >
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input 
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
          >
        </div>
        <div class="form-group">
          <label for="photoURL">Image</label>
          <input
            type="file" 
            id="photoURL" 
            class="form-control"
            accept="image/*"
            formControlName="photoURL"
            (change)="onSelectPhoto($event)"
          >
        </div>
        <button 
          class="btn btn-primary"
          type="submit"
          [disabled]="formGroup.invalid">
          Créer
        </button>
      </form>
      <p class="text-danger">{{errorMessage}}</p>
    </div>
  </div>